<p id="notice"><%= notice %></p>

<h1>Alpha Scaffolds</h1>

<div align="center">
    <%= will_paginate %>
</div>

<%= render 'alpha_scaffold', obj: @alpha_scaffolds %>

<div align="center">
    <%= will_paginate %>
</div>
